#{extends 'main.html' /} #{set title:'Login' /} #{header/}
<script type="text/javascript">
	$(document).ready(function() {
		$('body').removeClass('long-landing');
		$('body').addClass('v2-subpage');
	});
</script>
<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row login-area">
			<div class="col8">
				<h3>Log in</h3>
				#{form @Secure.authenticate()} #{if flash.error}
				<h6 class="error">&{flash.error}</h6>
				#{/if} #{if flash.success}
				<h6 class="success">&{flash.success}</h6>
				#{/if} <label for="login">Email Address</label> <input name="email"
					id="login" type="text" class="email" value="${flash.email}">
				<span class="error">#{error 'user.email' /}</span> <label for="pwd">Password</label>
				<input name="password" id="password" type="password"> <span
					class="error">#{error 'user.pwd' /}</span> <a href="/recover">Forgot
					your password?</a>

				<div style="margin: 15px 0;" class="clearfix">
					<input name="remember" id="remember" type="checkbox"
						style="float: left;" ${flash.remember ? 'checked="true"' : ''} >
					<label class="remember" for="remember">&{'secure.remember'}</label>
				</div>
				<p>
					<input type="submit" id="signin" value="&{'secure.signin'}"
						value="Create Account" class="button button-primary">
				</p>
				#{/form}
			</div>
			<div class="col4 border-left">
				<h3>No Account Yet?</h3>
				<p>
					<a href="/signup" class="internal-auth">Sign up as <strong>client</strong></a>.
				</p>
				<p>
					<a href="/signupStore" class="internal-auth">Sign up as <strong>store</strong></a>.
				</p>
			</div>
		</div>
	</div>
</div>