#{extends 'main.html' /} #{set title:'Login' /} #{header/}
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row">
			<div class="col8">
				<h3>Войти</h3>
				#{form @Secure.authenticate()} #{if flash.error}
				<h6 class="error">&{flash.error}</h6>
				#{/if} #{if flash.success}
				<h6 class="success">&{flash.success}</h6>
				#{/if} <label for="login">E-mail:</label> <input name="email"
					id="login" type="text" class="email" value="${flash.email}">
				<span class="error">#{error 'user.email' /}</span> <label for="pwd">Пароль</label>
				<input name="password" id="password" type="password"> <span
					class="error">#{error 'user.pwd' /}</span> <a href="/recover">Забыли пароль?</a>

				<div style="margin: 15px 0;" class="clearfix">
					<input name="remember" id="remember" type="checkbox"
						style="float: left;" ${flash.remember ? 'checked="true"' : ''} >
					<label class="remember" for="remember">&{'secure.remember'}</label>
				</div>
				<p>
					<input type="submit" id="signin" value="&{'secure.signin'}"
						value="Create Account" class="button button-primary">
				</p>
				#{/form}
			</div>
			<div class="col4 border-left">
				<h4>Еще не зарегистрированы?</h4>
				<p>
					<a href="/signup" class="internal-auth"><span class="blackLink">Зарегистрироваться как</span> <span style="font-weight: bold;">клиент</span></a>.
				</p>
				<p>
					<a href="/signupStore" class="internal-auth"><span class="blackLink">Зарегистрироваться как </span><span style="font-weight: bold;">сервис</span></a>.
				</p>
			</div>
		</div>
	</div>
</div>