#{extends 'main.html' /} #{set title:'Login' /}
<link rel="stylesheet" type="text/css" 
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
    <div id="content-wrapper" class="clearfix row">
        <div class="row login-area">

	<div class="col8">
		<h3>Log in to your store</h3>
			
			<form method="post" id="shopify-login-form">
        <input type="hidden" id="redirect" name="redirect" value="">
				<label for="subdomain">Shop Address</label><input class="formnote url" id="subdomain" name="subdomain" type="text"><span class="formnote">.myshopify.com</span>
				<label for="login">Email</label><input name="login" id="login" type="text" class="email">
				<label for="password">Password</label><input class="formnote" id="password" type="password" name="password" value="">
				<div style="margin: 15px 0;" class="clearfix">
				  <input name="remember" id="remember" type="checkbox" style="float: left;"><label class="remember" for="remember">Remember my store information</label>
				</div>
				<input type="submit" name="name" value="Log in" onclick="return shopUrl();" class="button button-primary">
			</form>

			<p>You can also login by adding <span class="highlight">/admin</span> to the end of your myshopify.com address.</p>
			<p>Example: <span class="highlight">http://examplestore.myshopify.com/admin</span></p>

	</div>

	<div class="col4 border-left">
		<h3>No Account Yet?</h3>
		<p>
			<a href="/signup" class="internal-auth">Sign up</a>&nbsp;today. 
		</p>
	</div>

</div>


<script type="text/javascript">
	function shopUrl() {
		if ($('#subdomain').val() == '') {
			$('#subdomain').focus();
			return false;
		} else {
			setLoginCookies();
			_gaq.push(['_setCustomVar', 1, 'existinguser', 'true', 1]);
			_gaq.push(['_trackEvent', 'user', 'login']);
			var form = $('#shopify-login-form');
			form.attr('action', 'https://' + $('#subdomain').val() + '.myshopify.com/admin/auth/login');
			form.submit();
			return false;
		}
	}

	function getParameter(paramName) {
	  var searchString   = window.location.search.substring(1);
	  var i, val, params = searchString.split("&");

	  for (i=0; i < params.length; i++) {
	    val = params[i].split("=");
	    if (val[0] == paramName) {
	      return decodeURIComponent(val[1]);
	    }
	  }
	  return null;
	}

	$(document).ready(function() {
		var redirect = getParameter('redirect');
		if (redirect && redirect != '') {
			$('#redirect').val(redirect);
		}
		$('body').removeClass('long-landing');
		$('body').addClass('v2-subpage');
	});
</script>


    </div>
	
    <div class="row">
      <div id="sub-call-to-action">
		
      
        	<h3 class="tc signup">Start your free, <strong>no-risk</strong>, 14 day trial! <a href="#" class="button button-primary call-to-action">Create your store now</a></h3>
      
		
      </div>
    </div>
	
  </div>