.login-area h3 {
    font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.login-area .border-right {
    border-right: 1px solid #eee;
    margin-left: -1px;
}
.login-area form {
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    padding: 16px 20px;
    margin: 0 30px 30px 0;
}
.login-area label {
    display: block;
    margin-bottom: 2px;
    font-family: "ProximaNovaSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.login-area input[type="text"], input {
    display: inline;
    padding: 3px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}
.login-area input.url {
    width: 250px;
    margin-right: 3px;
}
.login-area input.email {
    width: 250px;
}
.login-area input.password {
    width: 200px;
}
.login-area label.remember {
    float: left;
    margin: -4px 0 0 8px;
    font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.login-area .button {
    padding: 8px 24px;
}
.login-area .highlight {
    background: #fcf5d9;
    padding: 3px;
    color: #000;
}
