#{extends 'main.html' /} 
#{set title:'Smart Sale' /}
#{header isActive:'1' /}
<div id="segment-test" class="">
	<section class="segments">
		<div class="row clearfix">
			<br />
			<div class="col12">
				<!-- Begin slider -->
				<ul class="tabs clearfix">
					<li class="tab-nav"><a href="#tab-new"
						onclick="_gaq.push(['_trackEvent', 'Home', 'Customer Segment', 'Never sold online?', 0]); _visit.tag('home-segment-never');"
						class="active">Never sold online?</a></li>
					<li class="tab-nav"><a href="#tab-transfer"
						onclick="_gaq.push(['_trackEvent', 'Home', 'Customer Segment', 'Already selling online?', 0]); _visit.tag('home-segment-already');"
						class="">Already selling online?</a></li>
					<li class="tab-nav"><a href="#tab-apps"
						onclick="_gaq.push(['_trackEvent', 'Home', 'Customer Segment', 'Moving your brand online?', 0]); _visit.tag('home-segment-moving');"
						class="">Moving your brand online?</a></li>
					<li class="tab-nav"><a href="#tab-experts"
						onclick="_gaq.push(['_trackEvent', 'Home', 'Customer Segment', 'Need help setting up your shop?', 0]); _visit.tag('home-segment-help');"
						class="">Need help setting up your shop?</a></li>
				</ul>
				<div class="segment-wrapper">
					<ul class="tabs-content">
						<li id="tab-new" style="display: list-item;" class="active">
							<section class="examples"
								style="padding-bottom: 60px; padding-top: 0px; margin-top: 50px;">
								<div class="row clearfix">
									<!-- Begin examples feed -->
									<div class="col12 new-to">
										<div class="col4">
											<div class="mask">
												<a href="public/images/cxxvi.jpg?1383949189" class="info"
													rel="fancybox">View Screenshot</a> <a
													href="http://www.cxxvi.net/" class="info" rel="fancyframe"
													target="_blank">Visit Website</a>
											</div>
											<img class="thumbnail" src="public/images/cxxvi-sm.jpg"
												width="285" height="289" alt="CXXVI">
											<div class="description">
												<h4 class="tc">CXXVI</h4>
												<p class="tc">Unique american made clothing and
													accessories. Their custom theme is a great example of a
													simple yet beautiful clothing store ecommerce template.</p>
											</div>
										</div>
										<div class="col4">
											<div class="mask">
												<a href="public/images/pop-chart-lab.jpg?1383949189"
													class="info" rel="fancybox">View Screenshot</a> <a
													href="http://popchartlab.com/" class="info"
													rel="fancyframe" target="_blank">Visit Website</a>
											</div>
											<img class="thumbnail"
												src="public/images/pop-chart-lab-sm.jpg" width="285"
												height="289" alt="Pop Chart Lab">
											<div class="description">
												<h4 class="tc">Pop Chart Lab</h4>
												<p class="tc">Stunning infographics, prints and apparel.
													This simple custom template effectively showcases their
													unique works of art.</p>
											</div>
										</div>
										<div class="col4">
											<div class="mask">
												<a href="public/images/hard-graft.jpg?1383949189"
													class="info" rel="fancybox">View Screenshot</a> <a
													href="http://hardgraft.com/" class="info" rel="fancyframe"
													target="_blank">Visit Website</a>
											</div>
											<img class="thumbnail" src="public/images/hard-graft-sm.jpg"
												width="285" height="289" alt="Hard Graft">
											<div class="description">
												<h4 class="tc">Hard Graft</h4>
												<p class="tc">This UK-based lifestyle and tech accessory
													company uses a stunning and simple custom template to
													showcase their products, complete with rich photography.</p>
											</div>
										</div>
									</div>
								</div>
							</section> <!-- End examples feed -->
						</li>
						<li id="tab-transfer" class="" style="display: none;">
							<div class="col12 transfer">
								<h2 class="tc">Already selling online?</h2>
								<h3 class="tc p60">Learn why thousands are switching to
									Shopify each month.</h3>
								<div class="col5 inner-right">
									<p class="statement">Shopify is the largest and fastest
										growing hosted ecommerce platform in the world.</p>
									<p>Here's what you get when you switch to Shopify:</p>
									<ul class="user-content-list">
										<li>Unlimited bandwidth and a 99.94% uptime record</li>
										<li>Unlimited products on the Basic $29/month plan</li>
										<li>Integration with 70+ payment gateways and PayPal</li>
										<li>Over 200 Shopify Apps that plug into your store</li>
										<li>Unlimited 24x7 toll-free phone, chat and email
											support</li>
									</ul>
									<p>Switch to Shopify today and use our free importing tools
										to move all of your products automatically.</p>
								</div>
								<div class="col7 inner-left">
									<img
										src="//cdn.shopify.com/assets/images/long-landing/segment-transfer.png?1383949189">
								</div>
							</div>
						</li>
						<li id="tab-apps" style="display: none;" class="">
							<div class="col12 apps">
								<h2 class="tc">Moving your brand online?</h2>
								<h3 class="tc p60">Use Shopify for seamless offline to
									online ecommerce experience.</h3>
								<div class="col7 inner-left">
									<img class="apps-screen"
										src="//cdn.shopify.com/assets/images/long-landing/segment-apps.png?1383949189">
								</div>
								<div class="col5 inner-right">
									<p class="statement">From POS integration, inventory
										tracking, shipping and fulfilment, and accounting, Shopify has
										everything you need.</p>
									<p>Shopify has partnered with hundreds of different vendors
										to ensure you have a seamless experience offline and online.</p>
									<p>Start a free trial and talk with one of our knowledgable
										ecommerce support guru's.</p>
								</div>
							</div>
						</li>
						<li id="tab-experts" style="display: none;" class="">
							<div class="col12 experts">
								<h2 class="tc">Need help setting up your shop?</h2>
								<h3 class="tc p60">A Shopify Expert will help with the
									basics to get your store running in no time.</h3>
								<div class="col5 inner-right">
									<p class="statement">
										<a href="http://experts.shopify.com" target="_blank">Let a
											Setup Expert walk you through the ABCs of ecommerce.</a>
									</p>
									<p>These talented pros can help you launch your business
										online or seamlessly migrate your shop from another ecommerce
										platform.</p>
									<p>Create a beautiful, customized online store with the
										help of a Shopify Expert. Our roster of talented designers and
										developers can tweak a template or craft a new design from
										scratch.</p>
									<a class="button button-secondary button-small"
										href="http://experts.shopify.com" target="_blank"
										onclick="_gaq.push(['_trackEvent', 'Home', 'Talk to an Expert', 'Help to build your business', 0]);">Talk
										to an Expert now</a>
								</div>
								<div class="col7 inner-left">
									<img class="apps-screen"
										src="//cdn.shopify.com/assets/images/long-landing/segment-experts.png?1383949189">
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- End slider -->
			</div>
		</div>
	</section>
</div>

<!-- ============================================================================================================================================================================================= -->
<script type="text/javascript">
$("#segment-test").removeClass('hidden');
$(".overview").css({"display":"none", "visibility":""});
$(".experience").css({"display":"none", "visibility":""});
$(".testimonials").css({"padding-top":"0"});
$(".examples").css({"padding-bottom":"60px"});
</script>
<script>
  $(function() {
    $( '#dl-menu' ).dlmenu({
      animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
    });
  });
</script>

<script type="text/javascript">_visit.tag('long-landing');</script>
<!-- Scripts -->
<!-- Include Javascripts -->
<script src="@{'/public/javascripts/all.js'}"></script>
<!-- Fancybox -->
<script src="@{'/public/javascripts/jquery.fancybox.pack.js'}"></script>
<!-- Cycle Full Version -->
<!-- Long Landing Page -->
<script src="@{'/public/javascripts/v2-home.js'}" async="true"></script>
<!-- Signup Modal -->
<!-- signup-modal -->

<!-- End signup-modal -->
<!-- Partners -->
<script type="text/javascript">
  (function(r) {
    var brandedKeyword = function(ref) {
      var match1 = new RegExp("((google|yahoo|bing)(.*)&?q=([^&]*)shopify)", "gi").test(ref);
      return (match1);
    }

    var match1 = new RegExp("[\\?&](source|r|ref)=([^&#]*)", "gi").exec(r);
    if(match1 && !brandedKeyword(document.referrer)) {
      var days = 30;
      var date = new Date();
      date.setTime(date.getTime()+days*86400000);
      jQuery.cookie("source", match1[2], {expires: date, domain: ".shopify.com", path: "/"});
    }
  })(window.location.href);
</script>
<script type="text/javascript">
$(document).ready(function(){
	// Homepage Screenshot Cycle //
	$('.cycle').cycle({
	  fx: 'fade',
	  speed: 800,
		delay: -1000
	 });
  // Signup Modal redirect //
  //
  if (ShopifySignup) {
  }
});
</script>
<!-- Analytics -->
<!-- 3 -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1033599327;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "ISC2COOZmQIQ3_Lt7AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<div style="display: none">
	<script type="text/javascript"
		src="@{'/public/javascripts/conversion.js'}"></script>
</div>
<noscript>&lt;img height="1" width="1"
	style="border-style:none;"
	src="//www.googleadservices.com/pagead/conversion/1033599327/?label=ISC2COOZmQIQ3_Lt7AM&amp;amp;guid=ON&amp;amp;script=0"/&gt;
</noscript>
<script src="@{'/public/javascripts/pixel.js'}"></script>
<noscript>&lt;img
	src="//segment-pixel.invitemedia.com/pixel?pixelID=79152&amp;partnerID=340&amp;clientID=6481&amp;key=segment"
	width="1" height="1" /&gt;</noscript>
<!-- Qualaroo for shopify.com -->
<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript">
// Optimizely Multitracking
var oeuid = $.cookie('optimizelyEndUserId');
var obuck = $.cookie('optimizelyBuckets');
if (oeuid && oeuid != '' && obuck && obuck != '') {
  _visit.keyValue("optimizelyEndUserId", oeuid)
  _visit.keyValue("optimizelyBuckets", obuck)
}
</script>
<script type="text/javascript">
// <![CDATA[
var _ls_pub_id = "191";
(function(d, t){
var mb = d.createElement(t), s = d.getElementsByTagName(t)[0];
mb.async = mb.src = '//cdn.linksmart.com/linksmart_2.3.0.min.js';
s.parentNode.insertBefore(mb, s);
}(document, 'script'));
// ]]>
</script>
