<!-- standard footer -->
	<footer id="shopify-footer">
		<div class="row">
			<div class="col12 clearfix">
				<div class="col3 inner-left">
					<ul>
						<li class="title p10">Компания</li>
						<li><a href="">О SmartSale</a></li>
						<li><a href="">Работай с нами</a></li>					
					</ul>
				</div>
				<div class="col3">
					<ul>
						<li class="title p10">Клиентам</li>
						<li><a href="/faq">Как это работает?</a></li>
						<li><a href="/faq">Вопросы и ответы</a></li>
						<li><a href="/faq">Публичная оферта</a></li>
					</ul>
				</div>
				<div class="col3">
					<ul>
						<li class="title p10">Партнерам</li>
						<li><a href="/faq">Для вашего бизнеса</a></li>
					</ul>
				</div>
				<div class="col3 inner-right">
					<ul class="p10">
						<li class="title p10">Контакты</li>
						<li><a href="/feedback">Обратная связь</a></li>
					</ul>
					<ul class="social-icons">
						<li class="title p10">Социальные сети</li>
						<li class="clearfix"><a href="https://www.facebook.com/smartsalekz" rel="nofollow"><span class="icon"></span> Facebook</a></li>
						<li class="clearfix"><a href="#" rel="nofollow"><span class="icon"></span> Twitter</a></li>
						<li class="clearfix"><a href="#" rel="nofollow"><span class="icon"></span> YouTube</a></li>
						<li class="clearfix"><a rel="publisher" href="#"><span class="icon"></span> Google+</a></li>
						<li class="clearfix"><a href="#" rel="nofollow"><span class="icon"></span> LinkedIn</a></li>
					</ul>
				</div>
			</div>
			<div class="col12 inner-left inner-right">
				<div class="footer-copy">
					<a target="_blank" class="fl bbb"
						title=""
						href=""
						rel="nofollow"><img
						alt=""
						width="96px;"
						height="38px;"
						style="border: 0;" src="/public/images/logo-bbb.png"></a>
					<p class="p0">
						© 2012-2013 Smart Sale Inc. &nbsp; <a
							href="/terms" target="_blank"
							rel="nofollow">Публичная оферта</a> &nbsp; <a
							href="/privacy" target="_blank"
							rel="nofollow">Конфиденциальность</a> &nbsp; <a
							href="/sitemap">Карта сайта</a>
					</p>
					<p>
						<a href="/">Решения для электронной коммерции</a> от компании SmartSale — Магазин за минуту, бизнес для жизни™
					</p>
				</div>
			</div>
		</div>
	</footer>