<!-- standard footer -->
	<footer id="shopify-footer">
		<div class="row">
			<div class="col12 clearfix">
				<div class="col3 inner-left">
					<ul>
						<li class="title p10">Overview</li>
						<li><a href="http://www.shopify.com/website/templates"
							title="Feature Tour">Feature Tour</a></li>
						<li><a href="http://www.shopify.com/tour/sell-online"
							title="Sell Online">Sell Online</a></li>
						<li><a href="http://www.shopify.com/tour/ecommerce-website"
							title="Online Store Hosting">Online Store</a></li>
						<li><a href="http://www.shopify.com/tour/website-design"
							title="Online Store Design">Store Design</a></li>
						<li><a href="http://www.shopify.com/tour/shopping-cart"
							title="Shopping Cart Software">Shopping Cart</a></li>
						<li><a href="http://www.shopify.com/tour/ecommerce-hosting"
							title="Ecommerce Hosting">Ecommerce Hosting</a></li>
						<li><a href="http://www.shopify.com/tour/ecommerce-marketing"
							title="Ecommerce Marketing Tools">Marketing &amp; SEO</a></li>
						<li><a href="http://www.shopify.com/tour/mobile-commerce"
							title="Mobile Commerce">Mobile Commerce</a></li>
						<li><a href="http://www.shopify.com/tour/ecommerce-plugins"
							title="Shopify App Store">App Store</a></li>
						<li><a href="http://www.shopify.com/tour/ecommerce-cms">Feature
								List</a></li>
						<li><a href="http://www.shopify.com/faq">FAQ</a></li>
					</ul>
				</div>
				<div class="col3">
					<ul>
						<li class="title p10">Resources</li>
						<li><a href="http://docs.shopify.com/">Shopify Docs</a></li>
						<li><a href="http://docs.shopify.com/support">24/7
								Support</a></li>
						<li><a href="http://ecommerce.shopify.com/">Ecommerce
								Forums</a></li>
						<li><a href="http://apps.shopify.com/">App Store</a></li>
						<li><a href="http://themes.shopify.com/"
							title="Ecommerce Templates">Theme Store</a></li>
						<li><a href="http://experts.shopify.com/">Shopify Experts</a></li>
						<li><a href="http://api.shopify.com/" rel="nofollow">API
								Documentation</a></li>
						<li><a href="http://www.shopify.com/ecommerce-plugins">Ecommerce
								Plugins</a></li>
						<li><a href="http://www.shopify.com/partners/">Shopify
								Partner Program</a></li>
					</ul>
				</div>
				<div class="col3">
					<ul>
						<li class="title p10">Shopify</li>
						<li><a href="http://www.shopify.com/about" rel="nofollow">About
								Us</a></li>
						<li><a href="http://www.shopify.com/careers"
							title="Shopify Jobs" rel="nofollow">Careers</a></li>
						<li><a href="http://www.shopify.com/press">Press</a></li>
						<li><a href="http://www.shopify.com/press/buzz"
							title="Shopify Reviews">Testimonials</a></li>
						<li><a href="http://store.shopify.com/" target="_blank"
							rel="nofollow">Store</a></li>
						<li><a href="http://www.shopify.ca/"
							title="Canadian Ecommerce Software">Canada</a></li>
						<li><a href="http://www.shopify.co.uk/"
							title="UK Ecommerce Software">United Kingdom</a></li>
						<li><a href="http://www.shopify.com.au/"
							title="Australia Ecommerce Software">Australia</a></li>
						<li><a href="http://www.shopify.co.nz/"
							title="New Zealand Ecommerce Software">New Zealand</a></li>
					</ul>
				</div>
				<div class="col3 inner-right">
					<ul class="p10">
						<li class="title p10">Contact us</li>
						<li><a href="tel:1-888-329-0139">1-888-329-0139</a></li>
						<li><a href="http://www.shopify.com/contact" rel="nofollow">Email
								us</a></li>
					</ul>
					<ul class="social-icons">
						<li class="title p10">Social</li>
						<li class="clearfix"><a
							href="http://www.facebook.com/Shopify" rel="nofollow"><span
								class="icon"></span> Facebook</a></li>
						<li class="clearfix"><a href="http://www.twitter.com/shopify"
							rel="nofollow"><span class="icon"></span> Twitter</a></li>
						<li class="clearfix"><a href="http://www.youtube.com/shopify"
							rel="nofollow"><span class="icon"></span> YouTube</a></li>
						<li class="clearfix"><a rel="publisher"
							href="https://plus.google.com/105108679568268121500/posts"><span
								class="icon"></span> Google+</a></li>
						<li class="clearfix"><a
							href="http://www.linkedin.com/company/shopify" rel="nofollow"><span
								class="icon"></span> LinkedIn</a></li>
					</ul>
				</div>
			</div>
			<div class="col12 inner-left inner-right">
				<div class="footer-copy">
					<a target="_blank" class="fl bbb"
						title="Click for the Business Review of Shopify Inc., an Internet Shopping in Ottawa ON"
						href="http://www.bbb.org/ottawa/business-reviews/internet-shopping/shopify-in-ottawa-on-39813#sealclick"
						rel="nofollow"><img
						alt="Click for the BBB Business Review of this Internet Shopping in Ottawa ON"
						style="border: 0;" src="/public/images/logo-bbb.png"></a>
					<p class="p0">
						© 2006-2013 Shopify Inc. &nbsp; <a
							href="http://www.shopify.com/legal/terms" target="_blank"
							rel="nofollow">Terms of Service</a> &nbsp; <a
							href="http://www.shopify.com/legal/privacy" target="_blank"
							rel="nofollow">Privacy</a> &nbsp; <a
							href="http://www.shopify.com/sitemap">Sitemap</a>
					</p>
					<p>
						<a
							href="./index/Ecommerce Software, Online Store Builder, Website Store Hosting Solution- Free 14 day Trial by Shopify..html">Ecommerce
							Software Solutions</a> by Shopify — A shop in minutes, a business for
						life™
					</p>
				</div>
			</div>
		</div>
	</footer>