
<!-- Begin nav -->
<div id="shopify-nav">
	<div class="wrapper">
		<div class="row">
			<div class="col3">
				<a href="/"> <span id="branding"><strong>Shopify
							Ecommerce - Shopping Cart &amp; Software</strong></span>
				</a>
			</div>
			<div class="col9">
				<nav id="dl-menu" class="dl-menuwrapper">
					<button class="dl-trigger">Open Menu</button>
					<ul class="sub-menu dl-menu">
						<li><a href="http://www.shopify.com/website/templates">Features</a></li>
						<li><a href="http://www.shopify.com/examples">Examples</a></li>
						<li><a href="http://www.shopify.com/pricing">Pricing</a></li>
						<li><a href="http://www.shopify.com/pos">POS</a></li>
						<li><a href="http://www.shopify.com/#"
							class="drop-menu-title">Resources<span class="arrow"></span></a>
							<ul class="dl-submenu">
								<li class="dl-back"><a href="http://www.shopify.com/#">back</a></li>
								<li><a href="http://www.shopify.com/blog"><span
										class="title">Blog</span>Ecommerce tips &amp; advice</a></li>
								<li><a href="http://docs.shopify.com/"><span
										class="title">Documentation</span>Learn about Shopify</a></li>
								<li><a href="http://docs.shopify.com/support"><span
										class="title">Support</span>Talk to Shopify Support</a></li>
								<li><a href="http://ecommerce.shopify.com/forums"><span
										class="title">Forums</span>The Shopify Community</a></li>
								<li><a href="http://themes.shopify.com/"><span
										class="title">Theme Store</span>Shopify templates</a></li>
								<li><a href="http://apps.shopify.com/"><span
										class="title">App Store</span>Shopify store add-ons</a></li>
								<li><a href="http://experts.shopify.com/"><span
										class="title">Shopify Experts</span>Get help with your shop</a></li>
								<li><a href="http://www.shopify.com/partners"><span
										class="title">Partners</span>Join the partner program</a></li>
							</ul></li>
						#{if session.email}	  						         
			          <li class="dropdown">
			              <li><a href="@{Secure.logout()}" class="navbar-link">Log out</a></li>
			          </li>
			         #{/if}
			         #{else}
		              	<li class="login last"><a href="@{Secure.login()}">Login</a></li>	
		              #{/else}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- End nav -->