<!-- Begin nav -->
<div id="shopify-nav">
	<div class="wrapper">
		<div class="row">
			<div class="col3">
				<a href="/"> <span id="branding"></span></a>
			</div>
			<div class="col9">
				<nav id="dl-menu" class="dl-menuwrapper">
					<button class="dl-trigger">Open Menu</button>
					<ul class="sub-menu dl-menu">
						#{if !session?.user}
							<li><a href="@{Application.howDoesItWorks()}" class="${_isActive=='0'?'current':''}">Как это работает</a></li>
						#{/if}
						#{if session?.user == 'client'}
							<li><a href="@{Sale.clientSales()}" class="${_isActive=='0'?'current':''}">Мои скидки</a></li>
						#{/if}
						<li><a href="@{Sale.index()}" class="${_isActive=='1'?'current':''}">Скидки</a></li>
						<li><a href="@{Service.index()}" class="${_isActive=='2'?'current':''}">Сервисы</a></li>
						<li><a href="@{Category.index()}" class="${_isActive=='3'?'current':''}">Категории</a></li>
						<li><a href="@{Application.feedback()}" class="${_isActive=='4'?'current':''}">Обратная связь</a></li>
						#{if session.email}	
						<li>
							#{if _isActive=='5'}
								#{if session.firstName}
									<a href="#" class="drop-menu-title current">${session.firstName}<span class="arrow"></span></a>
								#{/if}
								#{else}
									<a href="#" class="drop-menu-title current">${session.email}<span class="arrow"></span></a>
								#{/else}
							#{/if}
							#{else}
								#{if session.firstName}
									<a href="#" class="drop-menu-title">${session.firstName}<span class="arrow"></span></a>
								#{/if}
								#{else}
									<a href="#" class="drop-menu-title">${session.email}<span class="arrow"></span></a>
								#{/else}
							#{/else}
							<ul class="dl-submenu">
								#{if session.user == 'client'}
									<li><a href="@{Application.clientProfile()}">Профиль</a></li>
									<li><a href="@{Application.clientQuestions()}">Мои вопросы</a></li>
								#{/if}	
								#{else}
									<li><a href="@{Application.serviceProfile()}">Профиль</a></li>
									<li><a href="@{Sale.serviceSales()}">Мои скидки</a></li>
									<li><a href="@{Service.serviceQuestions()}">Мои вопросы</a></li>
								#{/else}
								<li><a href="@{Secure.logout()}" class="navbar-link">Выйти</a></li>
							</ul>
						</li>
					 #{/if}
			         #{else}
		              	<li class="login last"><a href="@{Secure.login()}">Войти</a></li>	
		              #{/else}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- End nav -->