
<!-- Begin nav -->
<div id="shopify-nav">
	<div class="wrapper">
		<div class="row">
			<div class="col3">
				<a href="/"> <span id="branding"></span></a>
			</div>
			<div class="col9">
				<nav id="dl-menu" class="dl-menuwrapper">
					<ul class="sub-menu dl-menu">
						<li><a href="#templates">Shops</a></li>
						<li><a href="#examples">Uslugi</a></li>
						<li><a href="#pricing">Skidki</a></li>
						<li><a href="#pos">Categories</a></li>
						<li><a href="/feedback">Обратная связь</a></li>
						#{if session.email}	
						<li>
							#{if session.firstName}
								<a href="http://www.shopify.com/#" class="drop-menu-title">${session.firstName}<span class="arrow"></span></a>
							#{/if}
							#{else}
								<a href="http://www.shopify.com/#" class="drop-menu-title">${session.email}<span class="arrow"></span></a>
							#{/else}
							<ul class="dl-submenu">
								<li><a href="#blog">Profile</a></li>
								<li><a href="#settings">Settings</a></li>
								<li><a href="@{Secure.logout()}" class="navbar-link">Log out</a></li>
							</ul>
						</li>
					 #{/if}
			         #{else}
		              	<li class="login last"><a href="@{Secure.login()}">Login</a></li>	
		              #{/else}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- End nav -->