<div class="resourcescontent wrapper">
    <div class="row">
      
    <div class="slideshow col12">
      <ul class="slideshow-banners">
      	<li style="margin-top: 0px;">
      		<a href="#" itemprop="significantLinks">
      			<img alt="Splash" height="300" src="@{Sale.salePhoto(_sale.id,1)}" width="990">
      		</a>
      	</li>
      	<li style="margin-top: 0px;">
      		<a href="#" itemprop="significantLinks">
      			<img alt="Splash" height="300" src="@{Sale.salePhoto(_sale.id,2)}" width="990">
      		</a>
      	</li>
      	<li style="margin-top: 0px;">
      		<a href="#" itemprop="significantLinks">
      			<img alt="Splash" height="300" src="@{Sale.salePhoto(_sale.id,3)}" width="990">
      		</a>
      	</li>
      </ul>
      <a class="slideshow-next ir" data-action="next" href="#">Next</a>
	  <a class="slideshow-prev ir" data-action="prev" href="#">Prev</a>
	  <a href="/retentiongrid" class="slideshow-overlay ir">Overlay</a>
	</div>
    #{sale_tags/sale_tag1 follower:_follower, sale:_sale/}
    <div class="calltoaction-new col12">
	  <ul style="top: -1px; margin: 0 10px 0 15px;">
	      <li><h4>${_sale.text}</h4></li>
	  </ul> 
	</div>
  </div>
</div>