#{extends 'main.html' /} #{set title:'Smart Sale' /} #{header
isActive:'5' /}
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row">
			<div class="segment-wrapper">
				<ul class="tabs-content">
					<li id="tab-new" style="display: list-item;" class="active">
						<div class="row clearfix">
							<div class="col12 new-to">			
							<h3>О SmartSale.kz</h3>
							<p>В прогрессе</p><br/>
							<br/>
							<br/>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
