#{extends 'main.html' /} #{set title:'Login' /}
<link rel="stylesheet" type="text/css" 
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
    <div id="content-wrapper" class="clearfix row">
        <div class="row login-area">

	<div class="col8">
		<h3>Обратная связь</h3>
		#{form @save(user?.id)}        	   
      	 	#{if flash.error}
				<h6 class="error">
					&{flash.error}
				</h6>
			#{/if}
			#{if flash.success}
				<h6 class="success">
					&{flash.success}
				</h6>
			#{/if}
		    <label for="firstName">First name</label>
	    	<input name="firstName" id="firstName" type="text" class="firstName">	
		    
		    <label for="city">Question</label>
		    <select style="width: 180px; margin-bottom: 10px;" id="store_city" name="store">
		    	<option value="astana">Astana</option>
				<option value="almaty">Almaty</option>
			</select>
			
		    <label for="pwd">Password</label>
	    	<input name="pwd" id="pwd" type="password">	

		    <label for="cpwd">Password confirmation</label>
	    	<input id="cpwd" type="password"  name="cpwd">	

		    <p>
		    	<input type="submit" value="Create Account" class="button button-primary">
		    </p>
        #{/form} 
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('body').removeClass('long-landing');
		$('body').addClass('v2-subpage');
	});
</script>
    </div>
  </div>