#{extends 'main.html' /} #{set title:'Login' /} #{header isActive:'5' /}
<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row login-area">
			<h3>Как это работает?</h3>
			<p>В прогрессе</p>
			<br/>
			<br/>
			<br/>
		</div>


		<script type="text/javascript">
	$(document).ready(function() {
		$('body').removeClass('long-landing');
		$('body').addClass('v2-subpage');
	});
</script>
	</div>
</div>