#{extends 'main.html' /} 
#{set title:'Smart Sale' /}
#{header isActive:'1' /}
<div id="segment-test" class="">
	<section class="segments">
		<div class="row clearfix">
			<br />
			<div class="col12">
				<!-- Begin slider -->
				<ul class="tabs clearfix">
					<li class="tab-nav"><a href="#tab-new"
						class="active">Never sold online?</a></li>
					<li class="tab-nav"><a href="#tab-transfer"
						class="">Already selling online?</a></li>
					<li class="tab-nav"><a href="#tab-apps"
						class="">Moving your brand online?</a></li>
					<li class="tab-nav"><a href="#tab-experts"
						class="">Need help setting up your shop?</a></li>
				</ul>
				<div class="segment-wrapper">
					<ul class="tabs-content">
						<li id="tab-new" style="display: list-item;" class="active">
							<section class="examples"
								style="padding-bottom: 60px; padding-top: 0px; margin-top: 50px;">
								<div class="row clearfix">
									<!-- Begin examples feed -->
									<div class="col12 new-to">
										#{shop /}
									</div>
								</div>
							</section> <!-- End examples feed -->
						</li>
						<li id="tab-transfer" class="" style="display: none;">
							<div class="col12 transfer">
								#{shop /}
							</div>
						</li>
						<li id="tab-apps" style="display: none;" class="">
							<div class="col12 apps">
								#{shop /}
							</div>
						</li>
						<li id="tab-experts" style="display: none;" class="">
							<div class="col12 experts">
								#{shop /}
							</div>
						</li>
					</ul>
				</div>
				<!-- End slider -->
			</div>
		</div>
	</section>
</div>
