#{extends 'main.html' /} #{set title:'Login' /} #{header isActive:'5' /}
<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row login-area">
			<div class="texts">

				<h1>Договор публичной оферты</h1>
				<p>Настоящий договор адресован физическим лицам, изъявившим
					желание зарегистрироваться на сайте www.smartsale.kz, далее
					именуемым «Подписчик», и является официальным и публичным
					предложением ТОО «SmartSaleKz», далее именуемого «Представитель»,
					действующего от имени и за счет физических и юридических лиц, с
					которыми Представитель состоит в договорных отношениях, заключить
					договор, предмет и условия которого указаны ниже:</p>
				<ol>
					<li style="font: 14px Arial; line-height: 1.5;">Термины и
						определения:
						<ul>
							<li style="font: 14px Arial; line-height: 1.5;">Публичная
								Оферта – настоящее предложение о заключении договора на
								приобретение Товаров и (или) Услуг Продавца, публикуемое
								Представителем на Сайте, обращенное неограниченному кругу лиц, в
								том числе Подписчикам/ Пользователям.</li>
							<li style="font: 14px Arial; line-height: 1.5;">Подписчик
								(Пользователь) - лица, зарегистрированные на ресурсе
								Представителя в установленном порядке.</li>
							<li style="font: 14px Arial; line-height: 1.5;">Ресурсы
								Представителя – Веб-сайт Агента, размещенные по адресу
								www.smartsale.kz и все домены следующих уровней, относящиеся к
								Ресурсу Представителя.</li>
							<li style="font: 14px Arial; line-height: 1.5;">Продавец –
								юридическое или физическое лицо, зарегистрированное в качестве
								индивидуального предпринимателя и предоставляющее
								Пользователям/Подписчикам товары и (или) услуги.</li>
							<li style="font: 14px Arial; line-height: 1.5;">Акция –
								мероприятие, проводимое Продавцом, направленное на реализацию
								Товаров/Услуг Продавца Подписчикам Представителя по Купонам,
								приобретенным у Представителя на условиях, оговоренных в
								настоящей Публичной Оферте. Подписчик Представителя признается
								фактически принявшим участие в Акции, если им приобретены Товары
								/ Услуги у Продавца в рамках Публичной Оферты при предъявлении
								Купона. Условия Акции оговариваются на Сайте и являются
								неотъемлемой частью (Приложением) к настоящей Публичной Оферте
								(Договору).</li>
							<li style="font: 14px Arial; line-height: 1.5;">Купон –
								приобретаемый Пользователем купон у Представителя, имеющий
								буквенно-цифровой код, позволяющий однозначно идентифицировать
								Пользователя и дающий право на приобретение у Продавца Товаров /
								Услуг на условиях проведения Акции в период ее действия.</li>
							<li style="font: 14px Arial; line-height: 1.5;">Период
								проведения акции – период времени, в течение которого
								Представитель предоставляет Подписчикам возможность приобретать
								Купоны.</li>
							<li style="font: 14px Arial; line-height: 1.5;">Срок
								действия купона – период времени, в течение которого Продавец
								обязан предоставлять предъявляющим Купон Подписчикам
								Товары/Услуги на условиях Публичной оферты, заключенного
								договора и в соответствии с условиями проведения Акции. Срок
								действия купона указывается на Сайте.</li>
						</ul>
					</li>
					<li style="font: 14px Arial; line-height: 1.5;">Полным и
						безоговорочным согласием заключить Договор (далее – Акцептом)
						является регистрация на сайте Представителя в сети Интернет:
						www.smartsale.kz (далее – Сайт), и осуществление платежей,
						предусмотренных пунктом 9 Договора.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Акцепт
						Договора означает, что Подписчик согласен со всеми положениями
						настоящего предложения, а также с иными правилами работы ресурса
						Представителя и равносилен заключению с Представителем Договора и
						приложений к нему в письменном виде.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Заключение
						сделки по участию Подписчика в определенной Акции осуществляется
						посредством согласия Подписчика с условиями Акции и приобретением
						купона, сертификата или иного приобретения товаров, услуг через
						ресурс Представителя.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Предмет,
						условия и срок действия каждой отдельной акции устанавливается в
						соответствующем Приложении к Акции – «Условия Акции», и является
						приложением к настоящему договору оферты.</li>
					<listyle ="font: 14px="" arial;="" line-height:=""1.5;"="">В
					разделе «Условия акции» Интернет-страницы Сайта, содержатся
					предмет, условия и срок сделки с Продавцом.
					<li style="font: 14px Arial; line-height: 1.5;">Полномочия
						Представителя ограничиваются размещением на Сайте предмета и
						условий сделки от имени и за счёт Продавца, а также заключением
						сделки путем зачисления денежных средств Подписчика и (или)
						предоставлением Подписчику Купонов, в порядке, предусмотренном
						Договором.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Права и
						обязанности по передаче (оказанию) и приему (получении) товаров
						(услуг), являющихся предметом акции, возникают непосредственно у
						Подписчика и Продавца. Все претензии относительно качества товара
						(услуг) и осуществления оплат за него рассматриваются
						непосредственно Продавцом и Подписчиком.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Подписчик
						перечисляет сумму в размере, указанном в соответствующем
						Приложении к Договору, на расчётный счёт Представителя способами,
						указанными на Сайте. Перечисление суммы может производиться
						посредством безналичного расчёта. После перечисления денег на счет
						Подписчик может использовать их только на предложения,
						опубликованные на сайте Представителя. Любым другим изменениям
						зачисленные средства не подлежат.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Все расходы по
						уплате суммы, указанной в пункте 9 Договора, несет Подписчик.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Возникновение
						прав и обязанностей Продавца и Подписчика по Договору зависит от
						наступления следующего условия, относительно которого сторонам
						Договора неизвестно, наступит оно или не наступит, а именно:
						акцепта Договора другими подписчиками, минимальное количество
						которых, а также сроки действия официального и публичного
						предложения указываются в соответствующем Приложении к Договору.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Доказательством
						заключения Договора Подписчиком является предъявление уникального
						кода Продавцу, который присваивается Подписчику после регистрации
						на Сайте или предъявления Продавцу Купона. Любые иные
						доказательства заключения Договора Продавцом не рассматриваются.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Порядок обмена
						информацией между Продавцом и Подписчиком определяется и доводится
						до сведения Подписчика на Сайте.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Подписчик
						согласен с тем, что Представителем используются и обрабатываются
						персональные данные Подписчика.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Подписчик
						согласен с тем, что после прохождения процедуры регистрации на
						Сайте на электронный адрес Подписчика Представителем будут
						направляться письма и сообщения, в том числе рекламного характера.
						Вместе с тем Представитель обязуется не передавать адрес и иные
						сведения о Подписчике третьим лицам.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Указав номер
						телефона в личном профиле, Подписчик автоматически соглашается
						получать СМС-сообщения рекламного характера. При возникновении
						желания отписаться от данной рассылки, Подписчик должен заполнить
						заявку, воспользовавшись формой обратной связи на сайте
						Представителя.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Подписчик
						согласен с тем, что в период срока действия Купона возврат
						денежных средств по неактивированным купонам осуществляется
						сервисом коллективных покупок SmartSale, если иное не указано в
						условиях публичной оферты на соответствующую Акцию. Возврат
						денежных средств может быть осуществлен на баланс Подписчика на
						сайте http://smartsale.kz на основании электронного письма
						отправленного через форму обратной связи на сайте. Запросы на
						возврат рассматриваются только в течение срока действия купона и
						только в случае, если товар или услуга не входят в перечень
						товаров надлежащего качества и услуг, не подлежащих возврату.</li>
					<li style="font: 14px Arial; line-height: 1.5;">Подписчик
						соглашается с тем, что в случае, если купон был активирован и
						Подписчиком получена услуга/реализован Товар Поставщиком такого
						товара/услуги, то все претензии по возврату денежных средств за
						такие купоны должны адресоваться конечному поставщику
						услуги/товара.</li>
					</listyle="font:>
				</ol>
				<br/>
			</div>
		</div>


		<script type="text/javascript">
	$(document).ready(function() {
		$('body').removeClass('long-landing');
		$('body').addClass('v2-subpage');
	});
</script>
	</div>
</div>