#{extends 'main.html' /} 
#{set title:'Smart Sale' /}
#{header isActive:'5' /}
<div id="segment-test" class="">
	<section class="segments">
		<div class="row clearfix">
			<br />
			<div class="col12">
				<div class="col2">
					<div class="user_foto">
					    <img src="/public/images/avatar.jpg" width="100px;" height="100px;"><br/>
					    <a class="ajaxlink" href="/script/settings?action=edituser">Изменить фото</a>
					</div>
				</div>
				<div class="col3">
					<div class="user_table">
						<table>
							<tbody><tr>
								<th>Имя:</th>
								<td>Sultan</td>
							</tr>
							<tr>
								<th>Фамилия:</th>
								<td>Zhiyenbay</td>
							</tr>
							<tr>
								<th>Пол:</th>
								<td>Мужской</td>
							</tr>
							<tr>
								<th>Дата рождения:</th>
								<td>30-11--0001</td>
							</tr>
							<tr>
								<th>E-mail:</th>
								<td>zh.sulta@gmail.com</td>
							</tr>
							<tr>
								<th>Город:</th>
								<td>Астана</td>
							</tr>
						</tbody></table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
