#{extends 'main.html' /} #{set title:'Login' /} #{header/}
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row login-area">
			<div class="col8">
				<h3>Забыли пароль?</h3>
				<h5>Это не проблема! Мы вышлем вам инструкции о том, как его сбросить.</h5>
				#{form @reset()}        	   
		      	 	#{if flash.error}
						<h6 class="error">
							&{flash.error}
						</h6>
					#{/if}
					#{if flash.success}
						<h6 class="success">
							&{flash.success}
						</h6>
					#{/if}
				    <label for="login">Email Address</label>
			    	<input name="email" id="email" type="text" class="email">	
				    <span class="error">#{error 'user.email' /}</span>
				    <p>
				    	<input type="reset" value="Cancel" class="button button-destroy">
				    	<input type="submit" value="Send Email" class="button button-primary">
				    </p>
		        #{/form} 
			</div>
			<div class="col4 border-left">
				<h3>Have an Account?</h3>
				<p> 
					If you already have a password, <br/>please
					<a href="/login" class="internal-auth"> sign in</a>.
				</p>
			</div>
		</div>
	</div>
</div>
