#{extends 'main.html' /} #{set title:'Login' /}
<link rel="stylesheet" type="text/css" 
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
    <div id="content-wrapper" class="clearfix row">
        <div class="row login-area">
			<div class="col8">
				<h3>Forgot your Password?</h3>
				<h5>No problem! We'll send you instructions on how to reset it.</h5>
				#{form @reset()}        	   
		      	 	#{if flash.error}
						<h6 class="error">
							&{flash.error}
						</h6>
					#{/if}
					#{if flash.success}
						<h6 class="success">
							&{flash.success}
						</h6>
					#{/if}
				    <label for="login">Email Address</label>
			    	<input name="email" id="email" type="text" class="email">	
				    <span class="error">#{error 'user.email' /}</span>
				    <p>
				    	<input type="reset" value="Cancel" class="button button-destroy">
				    	<input type="submit" value="Send Email" class="button button-primary">
				    </p>
		        #{/form} 
			</div>
			<div class="col4 border-left">
				<h3>Have an Account?</h3>
				<p> 
					If you already have a password, <br/>please
					<a href="/login" class="internal-auth"> sign in</a>.
				</p>
			</div>
		</div>
	<script type="text/javascript">
		$(document).ready(function() {
			var redirect = getParameter('redirect');
			if (redirect && redirect != '') {
				$('#redirect').val(redirect);
			}
			$('body').removeClass('long-landing');
			$('body').addClass('v2-subpage');
		});
	</script>
    </div>
</div>