#{extends 'main.html' /} #{set title:'Login' /}
#{header isActive:'5' /}
<link rel="stylesheet" type="text/css" 
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
    <div id="content-wrapper" class="clearfix row">
        <div class="row login-area">

	<div class="col8">
		<h3><h3>Зарегистрироваться</h3></h3>
		#{form @save(user?.id)}        	   
      	 	#{if flash.error}
				<h6 class="error">
					&{flash.error}
				</h6>
			#{/if}
			#{if flash.success}
				<h6 class="success">
					&{flash.success}
				</h6>
			#{/if}
		    <label for="login">E-mail*:</label>
	    	<input name="email" id="login" type="text" class="email">	
		    <span class="error">#{error 'user.email' /}</span>
		    
			<label for="firstName">Имя*:</label>
	    	<input name="firstName" id="firstName" type="text" class="firstName">	
		    <span class="error">#{error 'user.firstName' /}</span>
		    
		    <label for="lastName">Фамилия*:</label>
	    	<input name="lastName" id="lastName" type="text" class="lastName">	
		    <span class="error">#{error 'user.lastName' /}</span>
			    		    
		    <label for="pwd">Пароль*:</label>
	    	<input name="pwd" id="pwd" type="password">	
		    <span class="error">#{error 'user.pwd' /}</span>
		   
		    <label for="cpwd">Подтверждение пароля*:</label>
	    	<input id="cpwd" type="password"  name="cpwd">	
		    <span class="error">#{error 'user.cpwd' /}</span>
		   	<div style="margin: 15px 0;" class="clearfix">
				<input name="oferta" id="oferta" type="checkbox"
					style="float: left;"> <label for="check02">С
					правилами <a href="@{Application.offerta()}" target="_blank">оферты</a>
					согласен
				</label>
			</div>
		    <p>
		    	<input type="submit" value="Create Account" class="button button-primary button-disabled">
		    </p>
        #{/form} 
	</div>

	<div class="col4 border-left">
		<h3>Есть учетная запись?</h3>
		<p>
			Если у вас уже есть учетная запись,<br /> пожалуйста <a
				href="/login" class="internal-auth"> войдите</a>.
		</p>
	</div>

</div>


<script type="text/javascript">
	$(document).ready(function() {
		$('body').removeClass('long-landing');
		$('body').addClass('v2-subpage');
		$('#oferta').click(function(){
		    if($(this).is(':checked')){
		    	$('input[type="submit"]').removeClass('button-disabled');
		    } else {
		    	$('input[type="submit"]').addClass('button-disabled');
		    }
		});
	});
</script>
    </div>
  </div>