#{extends 'main.html' /} #{set title:'Login' /} #{header isActive:'5' /}

<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/login.css'}" media="all">
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row login-area">
			<div class="col8">
				<h3>Зарегистрироваться сервис</h3>
				#{form @saveStore(user?.id), enctype:'multipart/form-data'} #{if
				flash.error}
				<h6 class="error">&{flash.error}</h6>
				#{/if} #{if flash.success}
				<h6 class="success">&{flash.success}</h6>
				#{/if} <label for="login">E-mail*:</label> <input name="email"
					id="login" type="text" class="email" value="${flash.email}">
				<span class="error">#{error 'user.email' /}</span> <label
					for="phone">Мобильный телефон*:</label> <input name="phone"
					id="phone" type="text" class="phone" value="${flash.phone}">
				<span class="error">#{error 'user.phone' /}</span> <label for="city">Город*:</label>
				<select style="width: 180px; margin-bottom: 10px;" id="city"
					name="city"> #{list items:cities, as:'c'}
					<option value="${c.city}">${c.city}</option> #{/list}
				</select> <label for="address">Адрес*:</label> <input name="address"
					id="address" type="text" class="address" value="${flash.address}">
				<span class="error">#{error 'user.address' /}</span> <label
					for="photo">Фото:</label> <input type="file" id="photo"
					name="photo" /> <label for="pwd">Пароль*:</label> <input
					name="pwd" id="pwd" type="password"> <span class="error">#{error
					'user.pwd' /}</span> <label for="cpwd">Подтверждение пароля*:</label> <input
					id="cpwd" type="password" name="cpwd"> <span class="error">#{error
					'user.cpwd' /}</span>
				<div style="margin: 15px 0;" class="clearfix">
					<input name="oferta" id="oferta" type="checkbox"
						style="float: left;"> <label for="check02">С
						правилами <a href="@{Application.offerta()}" target="_blank">оферты</a>
						согласен
					</label>
				</div>
				<p>
					<input type="submit" value="Create Account"
						class="button button-primary button-disabled">
				</p>
				#{/form}
			</div>

			<div class="col4 border-left">
				<h3>Есть учетная запись?</h3>
				<p>
					Если у вас уже есть учетная запись,<br /> пожалуйста <a
						href="/login" class="internal-auth"> войдите</a>.
				</p>
			</div>

		</div>


		<script type="text/javascript">
	$(document).ready(function() {
		$('body').removeClass('long-landing');
		$('body').addClass('v2-subpage');
		//$('#oferta').is(":checked");
		$('#oferta').click(function(){
		    if($(this).is(':checked')){
		    	$('input[type="submit"]').removeClass('button-disabled');
		    } else {
		    	$('input[type="submit"]').addClass('button-disabled');
		    }
		});
	});
</script>


	</div>

	<div class="row">
		<div id="sub-call-to-action">


			<h3 class="tc signup">
				Start your free, <strong>no-risk</strong>, 14 day trial! <a href="#"
					class="button button-primary call-to-action">Create your store
					now</a>
			</h3>


		</div>
	</div>

</div>