<!DOCTYPE html>
<html class=" js no-touch opacity cssanimations csstransitions csstransforms no-csstransforms3d" lang="en" style="">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta -->
<!-- Title -->
<title>#{get 'title' /}</title>
<!-- Description -->
<meta name="description" content="SmartSale это бесплатная платформа для размещения ваших скидок.">
<meta name="google-site-verification" content="zRqqHlRwmANV6MgOAicWpxHgU35MZvREm89M13cNQTg">
<meta name="verify-a" value="c56c27a8f68c6ddcafdf">
<meta name="msvalidate.01" content="176BA89D99C0DABEA2C14879ADB48909" />
<meta name="p:domain_verify" content="8c574a25baf8ff1451e95459fdc79ed8">
<link rel="canonical" href="./index/Ecommerce Software, Online Store Builder, Website Store Hosting Solution- Free 14 day Trial by SmartSale.kz">
<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Responsive -->
<!-- Icons -->
<link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
<!-- Facebook card -->
<meta property="og:image" content="/public/images/smartsale-bag.png">
<meta property="og:title" content="Ecommerce Software, Online Store Builder, Website Store Hosting Solution- Free 14 day Trial by SmartSale.">
<meta property="og:site_name" content="SmartSale">
<!-- Twitter card -->
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="SmartSale">
<meta property="twitter:description" content="SmartSale is a powerful ecommerce platform that includes everything you need to create an online store and sell online. Try it free for 14 days.">
<meta property="twitter:image" content="/public/images/smartsale-bag.png">
<meta property="twitter:site" content="@SmartSaleKz">
<!-- Begin CSS -->
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/home.min.css'}" media="all">
#{get 'moreStyles' /}
</head>
<body class="loaded">
#{doLayout /} 
#{footer /}
<script src="@{'/public/javascripts/jquery.min.js'}"></script>
<!-- Modernizr -->
<script src="@{'/public/javascripts/modernizr.min.js'}"></script>
<!-- Multitrack -->
<script src="@{'/public/javascripts/all.min.js'}"></script>
<script src="@{'/public/javascripts/jquery.fancybox.pack.js'}"></script>

#{get 'moreScripts' /}
</body>
</html>

