#{extends 'main.html' /} 
#{set title:'Smart Sale' /}
#{header isActive:'1' /}
<div id="segment-test" class="">
	<section class="segments">
		<div class="row clearfix">
			<br />
			<div class="col12">
				#{salesMenu  isActive:'2'/}
				<div class="segment-wrapper">
					<ul class="tabs-content">
						<li id="tab-new" style="display: list-item;" class="active">
							<section class="examples"
								style="padding-bottom: 60px; padding-top: 0px; margin-top: 50px;">
								<div class="row clearfix">
									<!-- Begin examples feed -->
									<div class="col12 new-to">
										#{shop /}
									</div>
								</div>
							</section> <!-- End examples feed -->
						</li>
						<li id="tab-transfer" class="" style="display: none;">
							<div class="col12 transfer">
								#{shop /}
							</div>
						</li>
						<li id="tab-apps" style="display: none;" class="">
							<div class="col12 apps">
								#{shop /}
							</div>
						</li>
						<li id="tab-experts" style="display: none;" class="">
							<div class="col12 experts">
								#{shop /}
							</div>
						</li>
					</ul>
				</div>
				<!-- End slider -->
			</div>
		</div>
	</section>
</div>

<script type="text/javascript">
$("#segment-test").removeClass('hidden');
$(".overview").css({"display":"none", "visibility":""});
$(".experience").css({"display":"none", "visibility":""});
$(".testimonials").css({"padding-top":"0"});
$(".examples").css({"padding-bottom":"60px"});
$(function() {
    $( '#dl-menu' ).dlmenu({
      animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
    });
  });
</script>
<script src="@{'/public/javascripts/all.js'}"></script>
<script src="@{'/public/javascripts/jquery.fancybox.pack.js'}"></script>
<script src="@{'/public/javascripts/v2-home.js'}" async="true"></script>
