#{extends 'main.html' /} #{set title:'Smart Sale' /} #{header
isActive:'1' /}
<div class="wrapper content">
	<div id="content-wrapper" class="clearfix row">
		<div class="row">
			<div class="segment-wrapper">
				<div class="col8">
					<h3>Новая скидка</h3>
					#{form @Sale.saveServiceSale(), enctype:'multipart/form-data'}  
					#{if flash.error}
					<h6 class="error">&{flash.error}</h6>
					#{/if} #{if flash.success}
					<h6 class="success">&{flash.success}</h6>
					#{/if} 
					<label for="startDate">Начало скидок*:</label> 
					<input name="startDate" id="startDate" type="text">
					<select id="startHour" name="startHour">
					</select> 
					
					<label for="endDate">Конец скидок*:</label> 
					<input name="endDate" id="endDate" type="text"> 
					<select id="endHour" name="endHour">
					</select>
					
					<label for="content_area">Для какого:</label>
					<div class="col2">
						<label for="male">Мужской</label>
						<input name="male" id="male" type="checkbox">
					</div>
					<div class="col2">
						<label for="female">Женский</label>
						<input name="female" id="female" type="checkbox">
					</div>
					<div class="col2">
						<label for="boy">Мальчик</label>
						<input name="boy" id="boy" type="checkbox">
					</div>
					<div class="col2">
						<label for="girl">Девочка</label>
						<input name="girl" id="girl" type="checkbox">
					</div>
					<div class="col2">
						<label for="baby">Младенец</label>
						<input name="baby" id="baby" type="checkbox">
					</div>
					
					<label for="photo">Фото:</label> 
					<input type="file" id="photo" name="photo" />					      	    
				
					<label for="photo">Главное фото:</label> 
					<input type="file" id="photo" name="photo" />					      	    
				
					<label for="photo1">Первое фото для слайда:</label> 
					<input type="file" id="photo1" name="photo1" />					      	    
				
					<label for="photo2">Второе фото для слайда:</label> 
					<input type="file" id="photo2" name="photo2" />					      	    
				
					<label for="photo3">Третее фото для слайда:</label> 
					<input type="file" id="photo3" name="photo3" />					      	    
				
					<div class="row">
						<div class="col8">
							<label for="content_area">Текст</label>
							<textarea cols="38" rows="4" name="content" id="content_area"
								class="f-input" require="true" datatype="require"
								style="margin-left: 0px; margin-right: 0px; width: 306px; margin-top: 0px; margin-bottom: 0px; height: 220px; resize: none;">
							</textarea>
						</div>
					</div>

					<p>
						<input type="submit" id="signin" value="Сохранить"
							class="button button-primary">
					</p>
					#{/form}
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="/public/stylesheets/jquery-ui.css" />
#{set 'moreScripts' }
<script src="/public/javascripts/jquery-ui.js"></script>
<script>
 $(function() {
    $( "#startDate" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy' 
    });
    for(var i = 0;i<24;i++){
        if(i<10){
        	$('#startHour').append('<option value='+i+'>0'+i+':00</option>');
        	$('#endHour').append('<option value='+i+'>0'+i+':00</option>');
        }else{
        	$('#startHour').append('<option value='+i+'>'+i+':00</option>');
        	$('#endHour').append('<option value='+i+'>'+i+':00</option>');
        }
    }
    $( "#endDate" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy' 
      });
  });
 </script>

#{/set}
